<h1>Cars</h1>

<div class="container">

  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <div class="row">
    <button (click)="addCar()" class="btn btn-success">Add</button>
  </div>
  <table class="table">
    <thead>
    <th>Id</th>
    <th>Username</th>
    <th>Description</th>
    <th>Model</th>
    <th>is Done</th>
    <th>Date</th>
    <th>Update</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td>{{car.username}}</td>
      <td>{{car.description}}</td>
      <td>{{car.model}}</td>
      <td>{{car.done}}</td>
      <td>{{car.targetDate | date : 'medium'}}</td>
      <td><button (click)="updateCar(car.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
