<h1>Welcome {{name}}</h1>
<div class="container">
  <p>  to our Spring boot App with Angular </p>

  <p>You can manage Cars (from angular) <a routerLink="/carsAngular">here</a></p>

</div>
<div class="container">
  You can get message from spring boot App with Rest Service
  <button (click)="getWelcomeMessage()" class="btn btn-success">Get Message</button>
</div>

<div class="container">
  You can get message customized messagefrom spring boot App with Rest Service
  <button (click)="getWelcomeCustomMessage()" class="btn btn-success">Get Customized Message</button>
  <h6>{{welcomeMessageFromService}}</h6>

</div>

